<%- include('partials/headers/searchResults_header') %>
<div class="content-container">
    <h1>Browse By Field</h1>
    <% if (totalPioneers === 0) { %>
    <h2>No Results Found</h2>
    <% } else { %>
    <h2><%= totalPioneers %> Results found for the Pioneers contributed to the field of: <%= classification %></h2>
    <% } %> <% if (totalPioneers === 0) { %>
    <div class="result-container">
        <div class="zero-results-image-container">
            <img src="/images/zero_results.webp" alt="Zero Results" class="zero-results-image">
        </div>
    </div>
    <% } else { %>
    <div class = "result-container">
        <% pioneers.forEach(function(pioneer){ %>
            <div class="pioneer-container">
                <div class="pioneer-image-container">
                    <% if (!pioneer.image || pioneer.image.trim() === '') { %>
                        <img src="/images/image_not_found.webp" alt="<%= pioneer.name %>" class="pioneer-not found">
                      <% } else { %>
                        <img src="<%= pioneer.image %>" alt="<%= pioneer.name %>" class="pioneer-image">
                      <% } %>                      
                </div>
                <div class="pioneer-info-container">
                    <h3><%= pioneer.name %></h3>
                    <p><%= pioneer.achievement.substring(0,215)%> <a href="/pioneer/<%= pioneer.name %>" class="pioneer-link" target="_blank">Learn More</a></p>
                </div>
            </div>
        <% }); %>
    </div>
    <% } %>
    <div class="pagination-container" style="display: flex; justify-content: center; box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;">
        <ul class="pagination" style="list-style-type: none; display: flex;">
            <% for(let i = 1; i <= Math.ceil(totalPioneers / pioneersPerPage); i++) { %>
                <li style="margin: 0 10px;"><a href="?page=<%= i %>"><%= i %></a></li>
            <% } %>
        </ul>
    </div>
    
</div>
<%- include('partials/footers/searchResults_footer.ejs') %>