<%- include('partials/headers/map_header'); -%>
<div class="content-container">
  <h1>Birth Places of Pioneers</h1>
</div>
<div class="map-container">
  <div class="icon-container">
    <div class="inner-icon-container">
      <p>_</p>
    </div>
    <div class="inner-icon-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-app"
        viewBox="0 0 16 16"
      >
        <path
          d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"
        />
      </svg>
    </div>
    <div class="inner-icon-container">
      <p>X</p>
    </div>
  </div>
  <div class="map" id="map">
    <script>
            const key = '4LVoQOOFqzmr8j6XqQ9Y';
            const map = L.map('map').setView([49.2125578, 16.62662018], 3); //starting position
            L.tileLayer(`https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=${key}`,{ //style URL
              tileSize: 512,
              zoomOffset: -1,
              minZoom: 1,
              attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
              crossOrigin: true,
            }).addTo(map);

            <% pioneers.forEach(function(pioneer) { %>
          var marker = L.marker([<%= pioneer.latitude %>, <%= pioneer.longitude %>]).addTo(map);
          marker.bindPopup("<b><a>Name: <a/></b><a> <%= pioneer.name %></a><b><a href='/pioneer/<%= pioneer.name %>'> More Info</a></b>");
        <% }); %>

    </script>
  </div>
</div>
<%- include('partials/footers/footer'); -%>
