<%- include('partials/headers/pioneer_header'); -%>
<div class="content-container">
  <div class="page-navbar">
    <nav id="navbar" class="navigate">
      <ul class="list-containers">
        <li>
          <a href="/"
            ><button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-house-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"
                />
                <path
                  d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"
                />
              </svg></button
          ></a>
        </li>
        <li>
          <a href="#pioneer-name">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                />
              </svg>
              <span class="hide-text">Name</span>
            </button></a
          >
        </li>
        <li>
          <a href="#pioneer-image">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-image"
                viewBox="0 0 16 16"
              >
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                <path
                  d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"
                />
              </svg>
              <span class="hide-text">Image</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#pioneer-about">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-body-text"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"
                />
              </svg>
              <span class="hide-text">About</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#pioneer-achievements">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trophy"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"
                />
              </svg>
              <span class="hide-text">Achievements</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#acm-classification">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-collection"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"
                />
              </svg>
              <span class="hide-text">ACM Classification</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#pioneer-country"
            ><button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                />
              </svg>
              <span class="hide-text">Birth-Place</span>
            </button></a
          >
        </li>

        <li>
          <a href="#pioneer-references"
            ><button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-link-45deg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
                />
                <path
                  d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"
                />
              </svg>
              <span class="hide-text"> References </span>
            </button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <section id="pioneer-name">
    <header>
      <h1><%= pioneer.name %></h1>
    </header>
  </section>
  <section id="pioneer-image">
    <div class="image-container">
      <% if (!pioneer.image || pioneer.image.trim() === '') { %>
      <img
        src="/images/image_not_found.webp"
        alt="<%= pioneer.name %>"
        class="pioneer-not found"
      />
      <% } else { %>
      <img
        src="<%= pioneer.image %>"
        alt="<%= pioneer.name %>"
        class="pioneer-image"
      />
      <% } %>
    </div>
  </section>
  <section id="pioneer-about">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>About</h2>
        <p><%= pioneer.intro%></p>
      </div>
    </div>
  </section>
  <section id="pioneer-achievements">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>Achievements</h2>
        <p><%= pioneer.achievement%></p>
        <h2>Contributed Year</h2>
        <p>Century: <strong><%= pioneer.century%></strong></p>
        <p>Year: <strong><%= pioneer.year%></strong></p>
      </div>
    </div>
  </section>

  <section id="acm-classification">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>Classification (ACM Library)</h2>
        <div class="classification-fields-container">
          <% if (Array.isArray(pioneer.classification)) { %> <%
          pioneer.classification.forEach(function(classificationString) { %> <%
          let classificationWithoutQuotes = classificationString.replace(/"/g,
          ''); %> <% let classifications =
          classificationWithoutQuotes.split(',').map(c => c.trim()); %> <%
          classifications.forEach(function(classification) { %> <% let fields =
          classification; %> <% fields = fields.trim().replace(/['“”]/g, ''); %>
          <% console.log(fields) %>
          <a href="/by_field_search/<%= fields %>">
            <button class="button-17" role="button"><%= fields %></button>
          </a>
          <% }); %> <% }); %> <% } %>
        </div>
      </div>
    </div>
  </section>
  <section id="pioneer-country">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>Birth Place</h2>
        <% if (!pioneer.birthCountry || pioneer.birthCountry.trim() === '' ||
        !pioneer.latitude || !pioneer.longitude) { %>
        <p>Country: <strong>Unknown</strong></p>
        <% } else { %>
        <a href="/by_country_search/<%= pioneer.birthCountry%>">
          <button
            class="button-17"
            role="button"
            name="<%= pioneer.birthCountry%>"
            type="submit"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-globe"
              viewBox="0 0 16 16"
              class="svg-country"
            >
              <path
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"
              />
            </svg>
            <%= pioneer.birthCountry%>
          </button>
        </a>
        <a
          href="https://maps.google.com/?q=<%= pioneer.latitude%>,<%= pioneer.longitude%>&ll=<%= pioneer.latitude%>,<%= pioneer.longitude%>&z=6"
          target="_blank"
        >
          <button class="button-17" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-geo-alt"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
              />
              <path
                d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
              />
            </svg>

            View Birth-Place *
          </button>
        </a>
        <p style="font-size: 1rem; margin-top: 30px">
          <strong>*</strong>The geographical coordinates associated with the
          birthplaces of the pioneers are accurate to the region level.
        </p>
        <% } %>
      </div>
    </div>
  </section>

  <section id="pioneer-more">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
    </div>
  </section>
  <section id="pioneer-references">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>References</h2>
        <div class="reference-container">
          <ul style="list-style: none; margin-bottom: 20px !important">
            <% if (pioneer.image && pioneer.image.trim() !== '') { %>
            <li>
              <a href="<%= pioneer.image%>">
                <button class="button-17" role="button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-image"
                    viewBox="0 0 19 16"
                  >
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                    <path
                      d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"
                    />
                  </svg>

                  Image Source
                </button>
              </a>
            </li>
            <% } %> <% if (pioneer.mactutorUrl && pioneer.mactutorUrl.trim() !==
            '') { %>
            <li>
              <a href="<%= pioneer.mactutorUrl %>">
                <button class="button-17" role="button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-calculator"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"
                    />
                    <path
                      d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z"
                    />
                  </svg>
                  MacTutor Index
                </button>
              </a>
            </li>
            <% } %>
            <li>
              <a href="<%= pioneer.wikiUrl %>">
                <button class="button-17" role="button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-compass"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
                    />
                    <path
                      d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"
                    />
                  </svg>
                  Research Tools
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  let scrollPosition = 0;
  let navbar = document.querySelector(".page-navbar");

  // Show navbar on page load or when at the top of the page
  if (window.pageYOffset <= 0) {
    navbar.style.opacity = "1";
  }
  // Hide navbar when screen is idle
  let idleTimer = null;
  let idleState = false;

  window.addEventListener("mousemove", function () {
    clearTimeout(idleTimer);
    if (idleState == true) {
      // The user has interacted with the screen, so show the navbar
      navbar.style.opacity = "1";
    }

    idleState = false;

    idleTimer = setTimeout(function () {
      // After 2.5 seconds of no mouse movement, hide the navbar
      navbar.style.opacity = "0";
      idleState = true;
    }, 2500);
  });

  // Bring back navbar when scrolling
  window.addEventListener("scroll", function () {
    let currentPosition =
      window.pageYOffset || document.documentElement.scrollTop;

    if (currentPosition > scrollPosition) {
      // Scrolling down
      navbar.style.opacity = "1";
    } else {
      // Scrolling up
      navbar.style.opacity = "1";
    }

    // Updates scroll position
    scrollPosition = currentPosition <= 0 ? 0 : currentPosition;
  });
</script>
<%-include('partials/footers/footer'); -%>
