<%- include('partials/headers/pioneer_header'); -%>
<div class="content-container">
  <div class="page-navbar">
    <nav id="navbar" class="navigate">
      <ul class="list-containers">
        <li>
          <a href="/"
            ><button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-house-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"
                />
                <path
                  d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"
                />
              </svg></button
          ></a>
        </li>
        <li>
          <a href="#pioneer-name">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                />
              </svg>
              Name
            </button></a
          >
        </li>
        <li>
          <a href="#pioneer-image">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-image"
                viewBox="0 0 16 16"
              >
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                <path
                  d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"
                />
              </svg>
              Image
            </button>
          </a>
        </li>
        <li>
          <a href="#pioneer-about">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-body-text"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"
                />
              </svg>
              About
            </button>
          </a>
        </li>
        <li>
          <a href="#pioneer-achievements">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trophy"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"
                />
              </svg>
              Achievements
            </button>
          </a>
        </li>
        <li>
          <a href="#pioneer-year">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-clock-history"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"
                />
                <path
                  d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"
                />
                <path
                  d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"
                />
              </svg>
              Century and Year
            </button>
          </a>
        </li>
        <li>
          <a href="#acm-classification">
            <button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-collection"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"
                />
              </svg>
              ACM Classification
            </button>
          </a>
        </li>
        <li>
          <a href="#pioneer-country"
            ><button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                />
              </svg>

              Birth Place
            </button></a
          >
        </li>
        <li>
          <a href="#pioneer-more"
            ><button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                />
              </svg>
              To Know More...
            </button>
          </a>
        </li>
        <li>
          <a href="#pioneer-references"
            ><button class="button-28" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-link-45deg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
                />
                <path
                  d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"
                />
              </svg>
              References
            </button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <section id="pioneer-name">
    <header>
      <h1><%= pioneer.name %></h1>
    </header>
  </section>
  <section id="pioneer-image">
    <div class="image-container">
      <% if (!pioneer.image || pioneer.image.trim() === '') { %>
      <img
        src="/images/image_not_found.webp"
        alt="<%= pioneer.name %>"
        class="pioneer-not found"
      />
      <% } else { %>
      <img
        src="<%= pioneer.image %>"
        alt="<%= pioneer.name %>"
        class="pioneer-image"
      />
      <% } %>
    </div>
  </section>
  <section id="pioneer-about">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>About</h2>
        <p><%= pioneer.intro%></p>
      </div>
    </div>
  </section>
  <section id="pioneer-achievements">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>Achievements</h2>
        <p><%= pioneer.achievement%></p>
      </div>
    </div>
  </section>
  <section id="pioneer-year">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>Century and Year</h2>
        <p>Century: <strong><%= pioneer.century%></strong></p>
        <p>Year: <strong><%= pioneer.year%></strong></p>
      </div>
    </div>
  </section>
  <section id="acm-classification">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>Classification (ACM Library)</h2>
        <p><%= pioneer.classification%></p>
      </div>
    </div>
  </section>
  <section id="pioneer-country">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>Birth Place</h2>
        <% if (!pioneer.birthCountry || pioneer.birthCountry.trim() === '' ||
        !pioneer.latitude || !pioneer.longitude) { %>
        <p>Country: <strong>Unknown</strong></p>
        <% } else { %>
        <p><%= pioneer.birthCountry%></p>
        <p>Latitude: <%= pioneer.latitude%></p>
        <p>Longitude: <%= pioneer.longitude%></p>
        <a
          href="https://maps.google.com/?q=<%= pioneer.latitude%>,<%= pioneer.longitude%>&ll=<%= pioneer.latitude%>,<%= pioneer.longitude%>&z=6"
          target="_blank"
        >
          <button class="button-54" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-geo-alt"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
              />
              <path
                d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
              />
            </svg>

            View Birth-Place *
          </button>
        </a>
        <p style="font-size: 1rem; margin-top: 30px">
          <strong>*</strong>The geographical coordinates associated with the
          birthplaces of the pioneers are accurate to the region level.
        </p>
        <% } %>
      </div>
    </div>
  </section>
  <section id="pioneer-more">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>To Know More...</h2>
        <div class="button-container">
          <a href="<%= pioneer.wikiUrl %>">
            <button class="button-53" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-wikipedia"
                viewBox="0 0 20 16"
              >
                <path
                  d="M8.835 3.003c.828-.006 2.688 0 2.688 0l.033.03v.288c0 .08-.045.12-.133.12-.433.02-.522.063-.68.29-.087.126-.258.393-.435.694l-1.52 2.843-.043.089 1.858 3.801.113.031 2.926-6.946c.102-.28.086-.478-.044-.595-.132-.114-.224-.18-.563-.195l-.275-.014a.161.161 0 0 1-.096-.035.1.1 0 0 1-.046-.084v-.289l.042-.03h3.306l.034.03v.29c0 .078-.045.117-.133.117-.433.02-.754.113-.962.281a1.64 1.64 0 0 0-.488.704s-2.691 6.16-3.612 8.208c-.353.672-.7.61-1.004-.019A224.05 224.05 0 0 1 8.044 8.81c-.623 1.285-1.475 3.026-1.898 3.81-.411.715-.75.622-1.02.019-.45-1.065-1.131-2.519-1.817-3.982-.735-1.569-1.475-3.149-1.943-4.272-.167-.4-.293-.657-.412-.759-.12-.1-.368-.16-.746-.18C.069 3.429 0 3.395 0 3.341v-.303l.034-.03c.615-.003 3.594 0 3.594 0l.034.03v.288c0 .08-.05.118-.15.118l-.375.016c-.322.013-.483.11-.483.288 0 .083.034.217.109.4.72 1.753 3.207 6.998 3.207 6.998l.091.023 1.603-3.197-.32-.71L6.24 5.095s-.213-.433-.286-.577l-.098-.196c-.387-.77-.411-.82-.865-.88-.137-.017-.208-.035-.208-.102v-.304l.041-.03h2.853l.075.024v.303c0 .069-.05.104-.15.104l-.206.03c-.523.04-.438.254-.09.946l1.057 2.163 1.17-2.332c.195-.427.155-.534.074-.633-.046-.055-.202-.144-.54-.158l-.133-.015a.159.159 0 0 1-.096-.034.099.099 0 0 1-.045-.085v-.288l.041-.03Z"
                />
              </svg>
              Wikipedia
            </button>
          </a>
          <% if (pioneer.mactutorUrl && pioneer.mactutorUrl.trim() !== '') { %>
          <a href="<%= pioneer.mactutorUrl %>">
            <button class="button-81" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-infinity"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.68 5.792 7.345 7.75 5.681 9.708a2.75 2.75 0 1 1 0-3.916ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663-1.958a2.75 2.75 0 1 1 0 3.916L8.656 7.75Z"
                />
              </svg>
              MacTutor Index
            </button>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <section id="pioneer-references">
    <div class="housing-container">
      <div class="mac-menu">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="inner-container">
        <h2>References</h2>
        <div class="reference-container">
          <ul style="list-style: none; margin-bottom: 20px !important">
            <% if (pioneer.image && pioneer.image.trim() !== '') { %>
            <li>
              <a href="<%= pioneer.image%>">
                <button class="button-47" role="button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-image"
                    viewBox="0 0 19 16"
                  >
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                    <path
                      d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"
                    />
                  </svg>

                  Image Source
                </button>
              </a>
            </li>
            <% } %> <% if (pioneer.mactutorUrl && pioneer.mactutorUrl.trim() !==
            '') { %>
            <li>
              <a href="<%= pioneer.mactutorUrl %>">
                <button class="button-81" role="button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-infinity"
                    viewBox="0 0 19 16"
                  >
                    <path
                      d="M5.68 5.792 7.345 7.75 5.681 9.708a2.75 2.75 0 1 1 0-3.916ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663-1.958a2.75 2.75 0 1 1 0 3.916L8.656 7.75Z"
                    />
                  </svg>
                  MacTutor Index
                </button>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  let scrollPosition = 0;
  let navbar = document.querySelector(".page-navbar");

  // Show navbar on page load or when at the top of the page
  if (window.pageYOffset <= 0) {
    navbar.style.opacity = "1";
  }
  // Hide navbar when screen is idle
  let idleTimer = null;
  let idleState = false;

  window.addEventListener("mousemove", function () {
    clearTimeout(idleTimer);
    if (idleState == true) {
      // The user has interacted with the screen, so show the navbar
      navbar.style.opacity = "1";
    }

    idleState = false;

    idleTimer = setTimeout(function () {
      // After 2.5 seconds of no mouse movement, hide the navbar
      navbar.style.opacity = "0";
      idleState = true;
    }, 2500);
  });

  // Bring back navbar when scrolling
  window.addEventListener("scroll", function () {
    let currentPosition =
      window.pageYOffset || document.documentElement.scrollTop;

    if (currentPosition > scrollPosition) {
      // Scrolling down
      navbar.style.opacity = "1";
    } else {
      // Scrolling up
      navbar.style.opacity = "1";
    }

    // Updates scroll position
    scrollPosition = currentPosition <= 0 ? 0 : currentPosition;
  });
</script>
<%-include('partials/footers/footer'); -%>
