<%- include('partials/headers/road_map_header'); -%>

<div class="content-container">
  <h1>Road Map</h1>
</div>
  <div class="map-container">
    <div class="icon-container">
      <div class="inner-icon-container">
        <p>_</p>
      </div>
      <div class="inner-icon-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-app"
          viewBox="0 0 16 16"
        >
          <path
            d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"
          />
        </svg>
      </div>
      <div class="inner-icon-container X">
        <p class = "X">X</p>
      </div>
    </div>
    <div class="map" id="map">
      <!-- Run a for loop for all the pioneers retreived from the backend -->
      <section class="timeline">
        <ul>
          <% pioneers.forEach(function(pioneer) { %>
           
                <li>
                    <div>
                      <time><%= pioneer.year%></time>
                      <div class="scientist">
                        <h3>Pioneer</h3>
                        <span> <img
                            src="<%= pioneer.image %>"
                            alt="<%= pioneer.name %>"
                            class="pioneer-image"
                          /></span>
                        <span><%= pioneer.name %></span>
                      </div>
                      <div class="discovery">
                        <h3>Achievement</h3>
                        <p><%= pioneer.achievement.substring(0,150)%>
                            <a href="/pioneer/<%= pioneer.name %>" target="_blank" >
                                Learn More</a>
                        </p>
                      </div>
                     
                    </div>
                  </li>
    
          <% }); %>
        </ul>
      </section>
    </div>
  </div>

  <div class = "alternate-container">
    <p>This functionality is only available on devices with larger screens. Alternatively, you can switch your device to landscape orientation to check if the feature is enabled.</p>
  </div>
<script>
var items = document.querySelectorAll(".timeline li");
var map = document.querySelector('.map');

function isElementInViewport(el) {
  var rect = el.getBoundingClientRect();
  var mapRect = map.getBoundingClientRect();
  return (
    rect.top >= mapRect.top &&
    rect.bottom <= mapRect.bottom &&
    rect.left >= mapRect.left &&
    rect.right <= mapRect.right
  );
}

function callbackFunc() {
  for (var i = 0; i < items.length; i++) {
    if (isElementInViewport(items[i])) {
      if(!items[i].classList.contains("in-view")){
        items[i].classList.add("in-view");
      }
    } else if(items[i].classList.contains("in-view")) {
        items[i].classList.remove("in-view");
    }
  }
}

map.addEventListener("scroll", callbackFunc);
window.addEventListener("scroll", callbackFunc);
document.addEventListener("DOMContentLoaded", callbackFunc);


</script>
<%- include('partials/footers/footer'); -%>
