<%- include('partials/headers/searchResults_header') %>
<div class="content-container">
    <h1>Search Results</h1>
    <h2><%= pioneerArray.length %> Results found</h2>
    <div class = "result-container">
        <% pioneerArray.forEach(function(pioneer){ %>
            <div class="pioneer-container">
                <div class="pioneer-image-container">
                    <img src="<%= pioneer.image %>" alt="<%= pioneer.name %>" class="pioneer-image">
                </div>
                <div class="pioneer-info-container">
                    <h3><%= pioneer.name %></h3>
                
                    <p><%= pioneer.achievement.substring(0,215)%> <a href="/pioneer/<%= pioneer.name %>" class="pioneer-link">Learn More</a></p>
                   
                </div>
            </div>
        <% }); %>

    </div>
  
</div>
<%- include('partials/footers/searchResults_footer.ejs') %>
